<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="caseonline.judger.web.mapper.ExcellenceUsecaseMapper" >
  <resultMap id="BaseResultMap" type="caseonline.judger.web.model.ExcellenceUsecase" >
    <id column="submission_id" property="submissionId" jdbcType="BIGINT" />
    <result column="usecase_coverage" property="usecaseCoverage" jdbcType="REAL" />
    <result column="usecase_amount" property="usecaseAmount" jdbcType="INTEGER" />
    <result column="usecase" property="usecase" jdbcType="VARCHAR" />
  	<result column="excebak1" property="excebak1" jdbcType="VARCHAR" />
    <result column="excebak2" property="excebak2" jdbcType="VARCHAR" />
    <result column="excebak3" property="excebak3" jdbcType="VARCHAR" />
   <association property="testcase" javaType="caseonline.judger.web.model.Testcase"
			column="testcase_id" select="caseonline.judger.web.mapper.TestcaseMapper.getTestcaseById" />
  </resultMap>
  
  <select id="selectUsecaseByConditon" resultMap="BaseResultMap" parameterType="map" useCache="true">
    select 
  	*
    from coj_excellence_usecase
    <where> 
	<if test="testcaseId!=0">
	and testcase_id=#{testcaseId,jdbcType=VARCHAR}
	</if>
	<if test="usecaseCoverage!=0">
	and usecase_coverage &gt;=#{usecaseCoverage,jdbcType=REAL}
	</if>
	</where>
	order by usecase_coverage DESC,usecase_amount ASC
  </select>
   
  <delete id="deleteUsecase" parameterType="java.lang.Long" flushCache="true">
    delete from coj_excellence_usecase
    where submission_id = #{submissionId,jdbcType=BIGINT}
  </delete>
  
  
  <insert id="insertUsecase" parameterType="caseonline.judger.web.model.ExcellenceUsecase" flushCache="true">
    insert into coj_excellence_usecase (submission_id, testcase_id, usecase_coverage, 
      usecase_amount, usecase,excebak1,excebak2,excebak3)
    values (#{submissionId,jdbcType=BIGINT}, #{testcase.testcaseId,jdbcType=BIGINT}, #{usecaseCoverage,jdbcType=REAL}, 
      #{usecaseAmount,jdbcType=INTEGER}, #{usecase,jdbcType=VARCHAR},#{excebak1,jdbcType=VARCHAR},#{excebak2,jdbcType=VARCHAR},#{excebak3,jdbcType=VARCHAR})
  </insert>

</mapper>