<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="caseonline.judger.web.mapper.JudgeResultMapper">
  <resultMap id="BaseResultMap" type="caseonline.judger.web.model.JudgeResult">
    <id column="judge_result_id" property="resultId"/>
    <result column="judge_result_flag" jdbcType="VARCHAR" property="resultFlag" />
    <result column="judge_result_name" jdbcType="VARCHAR" property="resultName" />
  </resultMap>
  
  <select id="getJudgeResultById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
   *
    from coj_judge_result
    where  judge_result_id= #{resultId,jdbcType=INTEGER}
  </select>
    
      <select id="getJudgeResultByFlag" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
   *
    from coj_judge_result
    where  judge_result_flag= #{resultFlag,jdbcType=VARCHAR}
  </select>
</mapper>