<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="caseonline.judger.web.mapper.LanguageMapper">
	<resultMap id="BaseResultMap" type="caseonline.judger.web.model.Language">
		<id column="language_id" property="languageId" jdbcType="INTEGER" />
		<result column="language_name" property="languageName" jdbcType="VARCHAR" />
		<result column="build_file" property="buildFile" jdbcType="VARCHAR" />
		<result column="languagebak1" property="languagebak1" jdbcType="VARCHAR" />
		<result column="languagebak2" property="languagebak2" jdbcType="VARCHAR" />
		<result column="languagebak3" property="languagebak3" jdbcType="VARCHAR" />
		<association property="format"
			javaType="caseonline.judger.web.model.UsecaseFormat" column="format_id"
			select="caseonline.judger.web.mapper.UsecaseFormatMapper.getUsecaseFormat"></association>
	</resultMap>

	<select id="getLanguageById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		*
		from coj_language
		where language_id =
		#{languageId,jdbcType=INTEGER}
	</select>

	<select id="getLanguageByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		*
		from coj_language
		where language_Name =
		#{languageName,jdbcType=INTEGER}
	</select>

	<select id="getAllLanguages" resultMap="BaseResultMap">
		select
		*
		from coj_language
	</select>

	<delete id="deleteLanguage" parameterType="java.lang.Integer">
		delete from
		coj_language
		where language_id = #{languageId,jdbcType=INTEGER}
	</delete>

	<insert id="createLanguage" parameterType="caseonline.judger.web.model.Language">
		insert into
		coj_language (language_name, build_file,
		format_id, languagebak1,
		languagebak2,
		languagebak3)
		values (#{languageName,jdbcType=VARCHAR},
		#{buildFile,jdbcType=INTEGER},
		#{format.formatId,jdbcType=INTEGER},
		#{languagebak1,jdbcType=VARCHAR},
		#{languagebak2,jdbcType=VARCHAR},
		#{languagebak3,jdbcType=VARCHAR})
	</insert>

	<update id="updateLanguage" parameterType="caseonline.judger.web.model.Language">
		update coj_language
		set language_name = #{languageName,jdbcType=VARCHAR},
		build_file =
		#{buildFile,jdbcType=INTEGER},
		format_id =
		#{format.formatId,jdbcType=INTEGER},
		languagebak1 =
		#{languagebak1,jdbcType=VARCHAR},
		languagebak2 =
		#{languagebak2,jdbcType=VARCHAR},
		languagebak3 =
		#{languagebak3,jdbcType=VARCHAR}
		where language_id =
		#{languageId,jdbcType=INTEGER}
	</update>
</mapper>