<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="caseonline.judger.web.mapper.UsecaseFormatMapper" >
  <resultMap id="BaseResultMap" type="caseonline.judger.web.model.UsecaseFormat" >
    <id column="format_id" property="formatId" jdbcType="INTEGER" />
    <result column="formatbak1" property="formatbak1" jdbcType="VARCHAR" />
    <result column="formatbak2" property="formatbak2" jdbcType="VARCHAR" />
    <result column="formatbak3" property="formatbak3" jdbcType="VARCHAR" />
	 <result column="format_text" property="formatText" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <select id="getUsecaseFormat" parameterType="java.lang.Integer" resultMap="BaseResultMap" useCache="true">
  select * from coj_usecase_format
  where format_id=#{formatId,jdbcType=INTEGER}
  </select>
  
  <select id="getAllFormats" resultMap="BaseResultMap" useCache="true">
  select * from coj_usecase_format
  </select>
  
  <delete id="deleteUsecaseFormat" parameterType="java.lang.Integer" flushCache="true">
    delete from coj_usecase_format
    where format_id = #{formatId,jdbcType=INTEGER}
  </delete>
  
  <insert id="createUsecaseFormat" parameterType="caseonline.judger.web.model.UsecaseFormat" flushCache="true">
    insert into coj_usecase_format (format_id, formatbak1, formatbak2, 
      formatbak3, format_text)
    values (#{formatId,jdbcType=INTEGER}, #{formatbak1,jdbcType=VARCHAR}, #{formatbak2,jdbcType=VARCHAR}, 
      #{formatbak3,jdbcType=VARCHAR}, #{formatText,jdbcType=LONGVARCHAR})
  </insert>
 
  <update id="updateUseraseFormat" parameterType="caseonline.judger.web.model.UsecaseFormat" flushCache="true">
    update coj_usecase_format
    set formatbak1 = #{formatbak1,jdbcType=VARCHAR},
      formatbak2 = #{formatbak2,jdbcType=VARCHAR},
      formatbak3 = #{formatbak3,jdbcType=VARCHAR},
      format_text = #{formatText,jdbcType=LONGVARCHAR}
    where format_id = #{formatId,jdbcType=INTEGER}
  </update>
  
</mapper>